
<h2>Inbox</h2>

{% if messages %}
{% for msg in messages %}
<div class="message-card" onclick="showMessage(this)">


    <div class="message-header">
        <div>
            <strong>{{ msg.subject }}</strong><br>
            From: {{ msg.sender.username }}
        </div>
        <span class="date">{{ msg.timeStamp }}</span>
    </div>

    <p class="message-preview">
        {{ msg.body|truncatechars:50 }}
    </p>

    <p class="message-full" style="display:none;">
        {{ msg.body }}

    </p>

</div>
{% endfor %}
{% else %}
<p>No messages yet</p>
{% endif %}







