
{% extends 'base.html' %}
{% block content %}





    <style>
       

        

        


        .main-content {
            flex: 1;
            padding: 20px;
            min-width: 0px;

        }

        .search-box {
            width: 100%;
            padding: 8px;
            border-radius: 10px;
            height: 35px;
            background: rgba(248, 240, 248, 0.25);


        }

        .search-form {
            flex: 1;


            /* THIS makes it stretch nicely */
        }

        .search-box::placeholder {
            color: rgb(252, 252, 252);
        }


        /* Dropdown menu for messages */
        .menu {
            display: inline-block;
            position: relative;
            padding: 3%;
        }

        .menu-content {
            display: none;
            background: #fff;
            border: 1px solid #ccc;
            min-width: 120px;
            position: absolute;
            top: 100%;
            right: 0;


        }

        .menu-content a {
            display: block;
            padding: 7px;
            text-decoration: none;
            color: rgb(3, 25, 74);
            background-color: #afd2f5;

        }

        .menu-content a:hover {
            background-color: #eee;
        }

        .menu:hover .menu-content {
            display: block;
        }

        /* Top bar */
        .topbar {
            background: linear-gradient(135deg, #00AEEF, #b347fb);
            padding: 15px;
            border-radius: 10px;
            height: 60px;
            display: flex;
            align-items: center;
            gap: 10px
        }


        .topbar input {
            padding: 8px;
            border-radius: 10px;
            border: none;
            width: 95%;

        }

        /* Message cards */
        .message-card {
            background: white;
            padding: 10px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0, 117, 149, 0.2);
            transition: .4s;
        }

        .message-card:hover {
            background: #eef8fc;
        }



        /* Buttons */
        button {
            border: none;
            padding: 8px 12px;
            border-radius: 5px;
            cursor: pointer;
            height: 35px;
            background: rgba(197, 215, 248, 0.25);
            margin: 10px;
            box-shadow: 0 3px 6px rgba(0, 117, 149, 0.2);

        }






        button:hover {
            background: #afd2f5;

        }

        .main-content h2 {
            margin: 50px 20px;
            color: #0f3d65;
        }


        .message-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .date {
            font-size: 12px;
            color: gray;
        }


        .star {
            font-size: 18px;
            color: goldenrod;
            cursor: pointer;
        }

        .star:hover {
            color: gold;
        }
    </style>








    
    <div class="main-content">

        <div class="topbar">

            <form method="GET" class="search-form">
                <input type="hidden" name="view" value="{{ view_type }}">
                <input type="text" name="q" placeholder=" 🔍Search..." class="search-box">
            </form>

            <a href="?view=send">
                <button> Send </button>
            </a>

            <div class="menu">

                <button>☰ </button>
                <div class="menu-content">
                    <a href="?view=inbox"> Inbox </a>
                    <a href="?view=send"> New Message </a>
                    <a href="?view=sent"> Sent </a>
                    <a href="?view=draft"> Drafts </a>

                </div>
            </div>
        </div>

        {% include template_name %}

    </div>










<script>

    function showMessage(box) {
        var preview = box.querySelector(".message-preview");
        var fullText = box.querySelector(".message-full");

        var isOpen = fullText.style.display === "block";

        // Close ALL messages first
        var fullMessages = document.getElementsByClassName("message-full");
        var allPreviews = document.getElementsByClassName("message-preview");

        for (var i = 0; i < fullMessages.length; i++) {
            fullMessages[i].style.display = "none";
            allPreviews[i].style.display = "block";
        }

        // If it was NOT open → open it
        if (!isOpen) {
            fullText.style.display = "block";
            preview.style.display = "none";
        }
    }


    function starMessage(event, el) {
        event.stopPropagation(); // don't open message

        el.classList.toggle("active");

        if (el.classList.contains("active")) {
            el.textContent = "★";
        } else {
            el.textContent = "☆";
        }
    }
</script>

{% endblock %}

