       

       <style>
       .message-card {
           background: white;
           padding: 10px;
           margin: 20px 0;
           border-radius: 10px;
           box-shadow: 0 3px 6px rgba(0, 117, 149, 0.2);
           transition: 0.4s;
           cursor: pointer;
       }
       
       .message-card:hover {
           background: #eef8fc;
       }
       .message-header {
           display: flex;
           justify-content: space-between;
           align-items: flex-start;
       }
              
       .date {
           font-size: 12px;
           color: gray;
       }
       
       .star {
           font-size: 18px;
           color: goldenrod;
           cursor: pointer;
       }
       
       .star:hover {
           color: gold;
       }
       
       .message-preview {
           margin-top: 8px;
       }
       
       .message-full {
           margin-top: 8px;
           display: none;
       }
       </style>





       
<h1>Sent Messages</h1>

{% if sent_messages %}
    {% for msg in sent_messages %}
    <div class="message-card" onclick="showMessage(this)">
        <div class="message-header">
            <div>
                <strong>{{ msg.subject }}</strong><br>
                To: {{ msg.receiver.username }}
            </div>
            <div>
                <span class="star" onclick="starMessage(event, this)">☆</span>
                <span class="date">{{ msg.timeStamp }}</span>
            </div>
        </div>

        <p class="message-preview">
            {{ msg.body|truncatechars:50 }}
        </p>

        <p class="message-full">
            {{ msg.body }}
        </p>
    </div>
    {% endfor %}
{% else %}
    <p>No sent messages</p>
{% endif %}